@import '../App.scss';
@import '../variables';

.client-Bar {
  // background-color: $DarkBlack;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  ul {
    background-color: $DarkBlack;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
  }

  li {
    background-color: $DarkBlack;
    list-style: none;
    display: inline;
    margin: 0 5rem;
    a {
      color: $LightGrey;
      // font-family: ;
      text-decoration: none;
      padding: 1rem;
      &:hover {
        // background-color: $baseColor-3;
      }
    }
  }
}
// .paper-table {
//   width: 300px;
//   height: 500px;
//   background-color: rebeccapurple;
//   // margin: 10px 50px;
//   display: flex;
//   align-items: center;
// }
