@import '../variables';
@import '../App.scss';

.detalle-recomedaciones {
  padding-top: 10%;
  min-height: 100vh;

  strong {
    display: block;
    margin: 1rem;
  }
  .detalle-features {
    margin-top: 1rem;
    width: 100%;
    @include direccionFlex(row);
  }
}
