.badge {
  text-align: center;
}
.badge--Pendiente {
  // width: ;
  background-color: #fe7466;
}
.badge--Rechazado {
  background-color: #23a31e;
}
.badge--Aceptado {
  background-color: #d8cc1d;
}
.badge--Proceso {
  background-color: #66acfe;
}
