@import '../variables';

.badge {
  text-align: center;
  width: 90px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  color: $BackgroundLight;
  font-size: 16px;
}
.badge--Pendiente {
  // width: ;
  background-color: $Yellow;
}
.badge--Rechazado {
  background-color: $Red;
}
.badge--Aceptado {
  background-color: $Green;
}
.badge--Proceso {
  background-color: $Blue;
}
