@import '../App.scss';
@import '../variables';
.details-info {
  background-color: $white;
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  height: 40rem;
  overflow-x: auto;
  h5 {
    text-decoration: underline;
    line-height: 1.6;
  }
  p {
    margin: 1rem;
  }

  .details-info-obj {
    margin: 1rem;
  }
}
