@import '../App.scss';
@import '../variables';

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(19, 18, 18, 0.83);
    opacity: .5;
}
.modal-wrapper {
    position: fixed;
    top: 10rem;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
  
.modal {
    z-index: 100;
    background: white;
    padding: 0.5rem;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 60%;
    height: 20rem;
    animation: animatezoom 0.6s;
}
  
@keyframes animatezoom{
    from{transform:scale(0)} 
    to{transform:scale(1)}
}
.modal-close {
    display: flex;
    justify-content: flex-end;
}
  
.modal-close-button {
    line-height: 1;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.modal-header{
    padding: 0.3rem 0.5rem;
    display: grid;
    grid-template-rows: 0%;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 8px 6px -6px $Grey;
}
.header-modal-title{
    align-self: start;
    margin-top: 5px;
}
.modal-content{
    @include direccionFlex(column);
    padding: 0 1rem;
    input{
        @include measures(15rem, 1.5rem);
    }
}
.modal-content-description{
    width: 70%;
}
.button-container{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.button-action-modal{
    @include measures(4rem, 2rem);
    border: 1px solid $Orange;
    border-radius: 3px;
    background-color: transparent;
    color: $Orange;
    cursor: pointer;
}
.button-action-modal:hover{
    background-color: $Orange;
    color: $white;
}