@import '../App.scss';
@import '../variables';

header {
  position: fixed;
  // background-color: crimson;
  background: #fff;
  box-shadow: 0 8px 6px -6px $Grey;
  z-index: 2;
  .topbar-nav {
    @include direccionFlex(row);
    padding: 0.5rem;
    &-name {
      width: 40%;
      display: flex;
      flex-direction: row;
      &-logo {
        width: 45px;
      }
      span {
        font-size: 2rem;
        margin: 0 1rem;
        color: $MediumGrey;
      }
      &-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;
        &-quick {
          width: 105px;
        }
      }
    }
    &-icons {
      .nav-icons {
        cursor: pointer;
        margin: 0.5rem 1rem;
      }
    }
    // &-icons:hover {
    //   color: $Red;
    // }
  }

  width: 100%;
}
