$Yellow: rgb(255, 182, 0);
$Tangarine: rgb(235, 140, 0);
$Orange: rgb(208, 74, 2);
$Rose: rgb(219, 83, 106);
$Red: rgb(224, 48, 30);
$DarkBlack: rgb(0, 0, 0);
$DarkGrey: rgb(45, 45, 45);
$MediumGrey: rgb(70, 70, 70);
$Grey: rgb(125, 125, 125);
$LightGrey: rgb(222, 222, 222);
// $title-primary: ;
